<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net451" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.8.6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="nucs.JsonSettings" version="1.0.7" targetFramework="net45" />
  <package id="nucs.JsonSettings.Autosave" version="1.0.0" targetFramework="net45" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net451" />
  <package id="SharpCompress" version="0.22.0" targetFramework="net451" />
  <package id="SQLite.CodeFirst" version="1.5.0.22" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net451" />
  <package id="ThumbnailSharp" version="1.0.0" targetFramework="net45" />
</packages>