<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net451" />
  <package id="Enterwell.Clients.Wpf.Notifications" version="1.4.2" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.8.9" targetFramework="net451" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net451" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="nucs.JsonSettings" version="1.0.7" targetFramework="net45" />
  <package id="nucs.JsonSettings.Autosave" version="1.0.0" targetFramework="net45" />
  <package id="PersianCalendarWPF" version="1.0.25" targetFramework="net451" />
  <package id="SharpCompress" version="0.22.0" targetFramework="net451" />
  <package id="SQLite.CodeFirst" version="1.5.1.25" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.109.2" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.109.2" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net451" />
  <package id="ThumbnailSharp" version="1.0.0" targetFramework="net45" />
  <package id="Wpf.MVVMC" version="1.1.6" targetFramework="net451" />
</packages>